@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(27, 27, 25, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3a3a38;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d97757;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a38 transparent;
}